@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body {
    background-color: #dee2e6;
}

.jumbotron {
    background-color: #1d2124 !important;
    margin: 10px;
}

article {
    display: inline-grid;
    margin: 10px;
    box-shadow: 6px 6px 6px 0 black;
}

h1 {
    color: orange !important;
    font-family: 'Playfair Display', serif;
}

a {
    font-family: 'Playfair Display', serif;
}

.price {
    font-weight: bold;
}

.product-link {
    height: 40px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}

.product-link:hover {
    transition: 1s ease-in-out;
    background: #daae4f;
}

button {
    height: 40px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}

button:hover {
    transition: 1s ease-in-out;
    background: #daae4f;
}


/*Media queries*/

@media only screen and (max-width: 650px) {
    article {
        display: inherit;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 1.5rem;
    }
    p {
        font-size: 15px;
    }
}